# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/.idea/codeStyles/codeStyleConfig.xml
/bin/
/Diagrams/informatik.uml
/.idea/.name
/Coverage/img/arrowDown.gif
/Coverage/img/arrowUp.gif
/Coverage/css/coverage.css
/Coverage/js/highlight.pack.js
/Coverage/css/highlight-idea.css
/Coverage/ns-1/index.html
/Coverage/ns-2/index.html
/Coverage/ns-3/index.html
/Coverage/ns-4/index.html
/Coverage/ns-5/index.html
/Coverage/ns-6/index.html
/Coverage/ns-7/index.html
/Coverage/ns-8/index.html
/Coverage/index.html
/Coverage/ns-1/index_SORT_BY_BLOCK.html
/Coverage/ns-2/index_SORT_BY_BLOCK.html
/Coverage/ns-3/index_SORT_BY_BLOCK.html
/Coverage/ns-4/index_SORT_BY_BLOCK.html
/Coverage/ns-5/index_SORT_BY_BLOCK.html
/Coverage/ns-6/index_SORT_BY_BLOCK.html
/Coverage/ns-7/index_SORT_BY_BLOCK.html
/Coverage/ns-8/index_SORT_BY_BLOCK.html
/Coverage/index_SORT_BY_BLOCK.html
/Coverage/ns-1/index_SORT_BY_BLOCK_DESC.html
/Coverage/ns-2/index_SORT_BY_BLOCK_DESC.html
/Coverage/ns-3/index_SORT_BY_BLOCK_DESC.html
/Coverage/ns-4/index_SORT_BY_BLOCK_DESC.html
/Coverage/ns-5/index_SORT_BY_BLOCK_DESC.html
/Coverage/ns-6/index_SORT_BY_BLOCK_DESC.html
/Coverage/ns-7/index_SORT_BY_BLOCK_DESC.html
/Coverage/ns-8/index_SORT_BY_BLOCK_DESC.html
/Coverage/index_SORT_BY_BLOCK_DESC.html
/Coverage/ns-1/index_SORT_BY_CLASS.html
/Coverage/ns-2/index_SORT_BY_CLASS.html
/Coverage/ns-3/index_SORT_BY_CLASS.html
/Coverage/ns-4/index_SORT_BY_CLASS.html
/Coverage/ns-5/index_SORT_BY_CLASS.html
/Coverage/ns-6/index_SORT_BY_CLASS.html
/Coverage/ns-7/index_SORT_BY_CLASS.html
/Coverage/ns-8/index_SORT_BY_CLASS.html
/Coverage/index_SORT_BY_CLASS.html
/Coverage/ns-1/index_SORT_BY_CLASS_DESC.html
/Coverage/ns-2/index_SORT_BY_CLASS_DESC.html
/Coverage/ns-3/index_SORT_BY_CLASS_DESC.html
/Coverage/ns-4/index_SORT_BY_CLASS_DESC.html
/Coverage/ns-5/index_SORT_BY_CLASS_DESC.html
/Coverage/ns-6/index_SORT_BY_CLASS_DESC.html
/Coverage/ns-7/index_SORT_BY_CLASS_DESC.html
/Coverage/ns-8/index_SORT_BY_CLASS_DESC.html
/Coverage/index_SORT_BY_CLASS_DESC.html
/Coverage/ns-1/index_SORT_BY_LINE.html
/Coverage/ns-2/index_SORT_BY_LINE.html
/Coverage/ns-3/index_SORT_BY_LINE.html
/Coverage/ns-4/index_SORT_BY_LINE.html
/Coverage/ns-5/index_SORT_BY_LINE.html
/Coverage/ns-6/index_SORT_BY_LINE.html
/Coverage/ns-7/index_SORT_BY_LINE.html
/Coverage/ns-8/index_SORT_BY_LINE.html
/Coverage/index_SORT_BY_LINE.html
/Coverage/ns-1/index_SORT_BY_LINE_DESC.html
/Coverage/ns-2/index_SORT_BY_LINE_DESC.html
/Coverage/ns-3/index_SORT_BY_LINE_DESC.html
/Coverage/ns-4/index_SORT_BY_LINE_DESC.html
/Coverage/ns-5/index_SORT_BY_LINE_DESC.html
/Coverage/ns-6/index_SORT_BY_LINE_DESC.html
/Coverage/ns-7/index_SORT_BY_LINE_DESC.html
/Coverage/ns-8/index_SORT_BY_LINE_DESC.html
/Coverage/index_SORT_BY_LINE_DESC.html
/Coverage/ns-1/index_SORT_BY_METHOD.html
/Coverage/ns-2/index_SORT_BY_METHOD.html
/Coverage/ns-3/index_SORT_BY_METHOD.html
/Coverage/ns-4/index_SORT_BY_METHOD.html
/Coverage/ns-5/index_SORT_BY_METHOD.html
/Coverage/ns-6/index_SORT_BY_METHOD.html
/Coverage/ns-7/index_SORT_BY_METHOD.html
/Coverage/ns-8/index_SORT_BY_METHOD.html
/Coverage/index_SORT_BY_METHOD.html
/Coverage/ns-1/index_SORT_BY_METHOD_DESC.html
/Coverage/ns-2/index_SORT_BY_METHOD_DESC.html
/Coverage/ns-3/index_SORT_BY_METHOD_DESC.html
/Coverage/ns-4/index_SORT_BY_METHOD_DESC.html
/Coverage/ns-5/index_SORT_BY_METHOD_DESC.html
/Coverage/ns-6/index_SORT_BY_METHOD_DESC.html
/Coverage/ns-7/index_SORT_BY_METHOD_DESC.html
/Coverage/ns-8/index_SORT_BY_METHOD_DESC.html
/Coverage/index_SORT_BY_METHOD_DESC.html
/Coverage/ns-1/index_SORT_BY_NAME_DESC.html
/Coverage/ns-2/index_SORT_BY_NAME_DESC.html
/Coverage/ns-3/index_SORT_BY_NAME_DESC.html
/Coverage/ns-4/index_SORT_BY_NAME_DESC.html
/Coverage/ns-5/index_SORT_BY_NAME_DESC.html
/Coverage/ns-6/index_SORT_BY_NAME_DESC.html
/Coverage/ns-7/index_SORT_BY_NAME_DESC.html
/Coverage/ns-8/index_SORT_BY_NAME_DESC.html
/Coverage/index_SORT_BY_NAME_DESC.html
/Dokumentation/bilder/Mock.PNG
/Coverage/ns-1/sources/source-1.html
/Coverage/ns-2/sources/source-1.html
/Coverage/ns-3/sources/source-1.html
/Coverage/ns-4/sources/source-1.html
/Coverage/ns-5/sources/source-1.html
/Coverage/ns-6/sources/source-1.html
/Coverage/ns-7/sources/source-1.html
/Coverage/ns-8/sources/source-1.html
/Coverage/ns-1/sources/source-2.html
/Coverage/ns-2/sources/source-2.html
/Coverage/ns-3/sources/source-2.html
/Coverage/ns-4/sources/source-2.html
/Coverage/ns-5/sources/source-2.html
/Coverage/ns-6/sources/source-2.html
/Coverage/ns-2/sources/source-3.html
/Coverage/ns-3/sources/source-3.html
/Coverage/ns-4/sources/source-3.html
/Coverage/ns-5/sources/source-3.html
/Coverage/ns-6/sources/source-3.html
/Coverage/ns-4/sources/source-4.html
/Coverage/ns-5/sources/source-4.html
/Coverage/ns-4/sources/source-5.html
/Coverage/ns-5/sources/source-5.html
/Coverage/ns-4/sources/source-6.html
/Coverage/ns-5/sources/source-6.html
/Coverage/ns-5/sources/source-7.html
/Coverage/ns-5/sources/source-8.html
